.find-icons {
  display: flex;
  justify-content: space-between;
}
.find-iocns__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.find-iocns__icon i {
  font-size: 35px;
  margin-bottom: 15px;
}
.find-iocns__icon span {
  margin-bottom: 20px;
}
.recommended-friends {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.recommended-friends__title {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.4);
  margin-top: 25px;
}
.recommended-friends span {
  padding: 110px 0px;
  display: block;
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.3);
}
.open-chat__header {
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.3);
  margin-top: 15px;
  margin-bottom: 25px;
}
.open-chat__title {
  color: rgba(0, 0, 0, 0.5);
}
.open-post {
  display: flex;
}
.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
}
.open-post__hashtags {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
}
.open-post__members {
  margin-top: 5px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
}
.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 50px;
  margin-right: 5px;
}
.open-post__member-count {
  margin-right: 5px;
}
.open-post__members .divider {
  width: 1px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-right: 5px;
}
.open-post__member-status {
  color: rgb(241, 113, 134);
}
